<div class="content">
  <div nz-row class="edit-header">
    <div nz-col nzFlex="2">
      <div class="inner-box">
        <a routerLink="/oblog/manage" routerLinkActive="active"><i nz-icon nzType="left" nzTheme="outline"></i>文章管理</a>
      </div>
    </div>
    <div nz-col nzFlex="2" class="inner-box">
      <nz-input-group  class="title" [nzSuffix]="characterCount">
        <input type="text" nz-input [(ngModel)]="blogTitle" (ngModelChange)="blogTitleChange()" maxlength="100" placeholder="文章标题"/>
      </nz-input-group>
    </div>
    <div nz-col nzFlex="2" class="inner-box">
      <button nz-button nzType="default">保存草稿</button>
      <button nz-button nzType="default" (click)="open()">发布文章</button>
    </div>
  </div>
  <quill-editor [(ngModel)]="blogContent"></quill-editor>
</div>

<nz-drawer
  [nzBodyStyle]="{ overflow: 'auto' }"
  [nzMaskClosable]="false"
  [nzWidth]="720"
  [nzVisible]="visible"
  nzTitle="Create"
  [nzFooter]="footerTpl"
  (nzOnClose)="close()"
>
  <span>sasadad</span>

  <ng-template #footerTpl>
    <div style="float: right">
      <button nz-button style="margin-right: 8px;" (click)="close()">Cancel</button>
      <button nz-button nzType="primary" (click)="close()">Submit</button>
    </div>
  </ng-template>
</nz-drawer>

