<div class="content">
  <div nz-row class="edit-header">
    <div nz-col nzFlex="2">
      <div class="inner-box">
        <a routerLink="/oblog/manage" routerLinkActive="active"><i nz-icon nzType="left" nzTheme="outline"></i>文章管理</a>
      </div>
    </div>
    <div nz-col nzFlex="2" class="inner-box">
      <nz-input-group  class="title" [nzSuffix]="characterCount">
        <input type="text" nz-input [(ngModel)]="blogTitle" (ngModelChange)="blogTitleChange()" maxlength="100" placeholder="文章标题"/>
      </nz-input-group>
    </div>
    <div nz-col nzFlex="2" class="inner-box">
      <button nz-button nzType="default">保存草稿</button>
      <button nz-button nzType="default" (click)="open()">发布文章</button>
    </div>
  </div>
  <quill-editor [(ngModel)]="blogContent"></quill-editor>
</div>

<div class="title-drawer">
  <nz-drawer
    [nzBodyStyle]="{ overflow: 'auto' }"
    [nzMaskClosable]="false"
    [nzWidth]="600"
    [nzVisible]="visible"
    nzTitle="发布文章"
    [nzFooter]="footerTpl"
    (nzOnClose)="close()"
  >
    <div>
      <div nz-row [nzGutter]="4" style="margin-bottom: 10px">
        <div nz-col nzSpan="4">
          <div>
            <span>文章分类：</span>
          </div>
        </div>
        <div nz-col nzSpan="20">
          <div *ngFor="let item of sorts; let i=index">
            <nz-input-group [nzSuffix]="inputClearTpl" *ngIf="item.inputType">
              <input type="text" nz-input [(ngModel)]="item.sortName" placeholder="input with clear icon" />
            </nz-input-group>
            <ng-template #inputClearTpl>
              <i nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" (click)="clearSortNameInput(item)"></i>
            </ng-template>
          </div>
          <div>
            <button nz-button nzType="default" style="border-radius: 5px;" (click)="addBlogSort()"><i nz-icon nzType="plus" nzTheme="outline"></i>新建分类</button>
          </div>
        </div>
      </div>
      <div nz-row [nzGutter]="4">
        <div nz-col nzSpan="4">
        </div>
        <div nz-col nzSpan="20">
          <div>
            <nz-card style="width: 80%;" [nzTitle]="extraTemplate">
              <nz-checkbox-wrapper style="width: 100%;" (nzOnChange)="selectBlogSort($event)">
                <div nz-row>
                  <div nz-col nzSpan="8"><label nz-checkbox nzValue=1 [ngModel]="true">A</label></div>
                  <div nz-col nzSpan="8"><label nz-checkbox nzValue=2>B</label></div>
                  <div nz-col nzSpan="8"><label nz-checkbox nzValue=3>C</label></div>
                  <div nz-col nzSpan="8"><label nz-checkbox nzValue=4>D</label></div>
                  <div nz-col nzSpan="8"><label nz-checkbox nzValue=5>E</label></div>
                </div>
              </nz-checkbox-wrapper>
            </nz-card>
            <ng-template #extraTemplate>
              <span style="font-size: 14px">最多选择3个分类专栏</span>
            </ng-template>
          </div>
        </div>
      </div>
      <div nz-row [nzGutter]="8">
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label>Approver</nz-form-label>
            <nz-form-control>
              <nz-select nzPlaceHolder="Please choose the approver"></nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label>DateTime</nz-form-label>
            <nz-form-control>
              <nz-range-picker></nz-range-picker>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row [nzGutter]="8">
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label>Description</nz-form-label>
            <nz-form-control>
              <textarea nz-input placeholder="please enter url description" [nzAutosize]="{ minRows: 4, maxRows: 4 }"></textarea>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </div>

    <ng-template #footerTpl>
      <div style="float: right">
        <button nz-button style="margin-right: 8px;" (click)="close()">Cancel</button>
        <button nz-button nzType="primary" (click)="close()">Submit</button>
      </div>
    </ng-template>
  </nz-drawer>
</div>


